<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album Board is &copy; 2018 msyu All rights reserved.</p>
        <p>contact me HP. 010-0000-00000 | Github. https://github.com/alstjs1207 </p>
      </div>
</footer>
